@charset "utf-8";

body{
    background-color: black;
}
h1,h2{
    font-weight: bold;
    color: white;
    border: 5px;
    border-radius: 10px;
    padding-left: 20px;
    text-align: center;
}
p{
    text-align: center;
    font-weight: bold;
    color: white;
}
